#header{
    display: flex;
    justify-content: space-between;
}
.center{
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: auto;
    object-position: center bottom;
}
.yeet{
    display:block;
    position: relative;
    margin-left: 33%;
    margin-right: auto;
    top: 23px;
    align-items: center;
    width: auto;
    object-position: center bottom;
    z-index: 1;
}
.yeet2{
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: 30%;
    top: 9px;
    align-items: center;
    width: auto;
    object-position: center bottom;
    z-index: 1;
}
.buttons{
    display:block;
    position: relative;
    margin-left: 44%;
    margin-right: auto;
    top: 9px;
    align-items: center;
    width: auto;
    object-position: center bottom;
}
.bottom-left{
    display:block;
    position: absolute;
    margin-left: 2%;
    margin-right: auto;
    top: 915px;
    align-items: center;
    width: auto;
    object-position: left bottom;
}
.bottom-center{
    display:block;
    position: absolute;
    margin-left: 44%;
    margin-right: auto;
    top: 900px;
    align-items: center;
    width: auto;
    object-position: left bottom;
    
  
    
   

}
.bottom-right{
    display:block;
    position: absolute;
    margin-left: 90%;
    margin-right: auto;
    top: 917px;
    align-items: center;
    width: auto;
    object-position: left bottom;

}
.search{
    width: fit-content;
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: 56%;
    top: -10px;
    align-items: center;
    object-position: center bottom;

}
.search input{
    width: 300%;
    border-radius: 666px;
    padding-left: 34px;
    padding-right: 33px;
    height: 30px;
}


